

      /*Pretty gigs colors
Deep green #30C8AA
Light Green #90E8D7
Yellow #FBB040
Light Yello #FBC067
Black #231F20
Purple #8567B8
Light Purple #C6B7DE
*/

// LandingPage.scss

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  




  h1, h2, h3 {
    color: green
  }
  .aboutHeading{
    text-align: left;
  }
  .aboutIntro{   
    text-align: justify;
  }

  .left-column {
    width: 45%;
    text-align: left;
    //background-color: #8567bb;
    //background-color: #c6b7de;
   // background-color: #fbc067;
    background-color: #fbb040;
    //background-image: url('./public/img/finegirl.jpg');
    background-size: cover; 
   background-position: center; /* Centers the background image */
   
     padding: 20px;
     border-radius: 20px;
     color: black;
     margin-bottom: 20px;
 
  }

  .right-column {
    width: 45%;
    text-align: left;
  }
  .left-column2 {
      width: 45%;
    text-align: left;
     
    }
  
    .right-column2 {
      width: 45%;
      text-align: left;
      background-color: #8567bb;
      //background-image: url('./public/img/finegirl.jpg');
      background-size: cover; 
     background-position: center; /* Centers the background image */
     
       padding: 20px;
       border-radius: 20px;
       color: white;
   
    }

  // Media query for desktop
  @media only screen and (max-width: 768px) {
    .left-column {
      width: 100%;
      text-align: left;
    }

    .right-column {
      width: 100%;
      text-align: left;
    }
    .left-column2 {
      width: 100%;
      text-align: left;
    }

    .right-column2 {
      width: 100%;
      text-align: left;
    }
  }
}
