.image-slider {
    position: relative;
    text-align: center;
    width: 100%;
    h1{
      color: green;
      font-size: 30px;

    }
    h2{
        font-size: 25px;
    }
    
    img {
      width: 100%;
      height: 400px;
      opacity: 0.7;

      @media screen and (max-width: 768px) {
       height: 300px;
      }
    }
  
    .content {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
      margin-bottom: 20px;
      gap: 40px;
  
      .header {
        
        font-size: 30px; // Adjust as needed
        color: #8567BB;
        margin-bottom: 20px; // Adjust as needed
        @media screen and (max-width: 768px) {
          font-size: 18px; // Adjust for smaller screens
          line-height: 1px;
          text-align: justify;

         
        }
       
      }
  
      .header-sub {
        margin-top: 1rem;
        font-family: fantasy;
        font-size: 26px; // Adjust as needed
        font-weight: 400;
        color: black;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
          margin-bottom: 25px;
  
           
          }
         
      }
      .quotebutton {
        background-color: #fbb040;
        color: black;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        position: absolute;
        bottom: 2rem; // Adjust as needed
        left: 50%;
        transform: translateX(-50%);
        width: 50%; // Set button width to 50%
  
        @media screen and (max-width: 768px) {
          margin-top: 30px;
          padding: 5px 10px;
        }
      }
      
    }
    
    
  }
  